body {
	margin-top: 1.0em;
	background-color: #002b36;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #839496;
}
::-moz-selection { background: #d33682; color: #fdf6e3; text-shadow: none; }
::selection { background: #d33682; color: #fdf6e3; text-shadow: none; }
#container {
	margin: 0 auto;
	width: 700px;
}
h1 { font-size: 3.8em; color: #586e75; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; color: #586e75 }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #586e75 }
h3 { color: #586e75 }
a { color: #b58900; text-decoration: none; } /*yellow*/
a:visited { color: #b58900; }   						 /*base01*/
a:hover { color: #dc322f; }     
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px;}
.download { float: right; }
pre { background: #fdf6e3; padding: 5px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }
